body{

    margin: 0;
    padding: 0;

    background-color: antiquewhite;
    position: relative;


}


nav{

    position: fixed;
    display: flex;
    width: 100%;


    background-color: #cbd0dd;


    display: flex;
       justify-content: space-between;

overflow: auto;

    z-index: 20;

}


a{
    cursor: pointer;
}

h1{
    font-size: 3em;
    text-transform: uppercase;
    color:
    #f4912d;

}

nav a{

    box-sizing: content-box;
    margin: 1em 1em;
    padding: 1em 5em;
    border-radius: 3em;

    background-color:  #f4912d;
    font-family: 'Varela Round', sans-serif;

    font-size: .5em;
    text-align: center;
    text-transform: uppercase;

    color: white;
    text-decoration: none;

}

img{

    width: 100%;
    border-radius: 2vw;
}



#wrapper {


    display: flex;
    flex-wrap: wrap;
    flex-direction: column;


}


section{

    position: static;




    padding: 2vw;

    margin: 2vw;

    border-radius: 2px;
    color: aliceblue;

    font-family: 'Varela Round', sans-serif;
    background-color: #202532;




}

section a{

    text-decoration: none;
    color: #89cce5;
    font-size: .9em;
}

.moodboard_1_box{

 display: flex;
flex-wrap: wrap;
flex-direction: column;





}

.moodboard_2{




}

.ide_udvikling_box{




}


