body{

    margin: 0;
    padding: 0;

    background-color: antiquewhite;

}


nav{

    display: flex;

}


.nav_knap{

    margin: 10px;
    border: solid 10px black;

}

img{

    width: 100%;
}

#wrapper {


    display: flex;
    flex-wrap: wrap;
    flex-direction: column;


}


section{

    position: relative;


    border: solid red 2px;

    margin: 10px;

    border-radius: 10px;




}

.moodboard_1_box{

 display: flex;
flex-wrap: wrap;
flex-direction: column;





}

.moodboard_2{




}

.ide_udvikling_box{




}
